@page "/{id:int?}"
@model AutoWorld.Pages.Cars.IndexModel

@{
    ViewData["Title"] = "Available cars";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].fuel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].DealerAuto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarCategories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CarD.Cars) {
 string selectedRow = "";
 if (item.ID == Model.CarID)
 {
 selectedRow = "table-success";
 }
 <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fuel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DealerAuto)
            </td>
             <td>
            @{
                foreach (var category in item.CarCategories)
                {
                 @category.Category.ID @: @category.Category.CategoryName <br/>
             }
            }
 </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
